	@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff2') format('woff2'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
	}


	body{	
		display: flex;
		margin: 0;
		width: 100%;
		font-family: open_sansregular;
	}

	

	header{
		display: flex;
		width: 80%;
		text-align: left;
		margin-left: 10px;	
		margin-bottom: 60px;
		margin-top: 40px;
		font-size: 1.3em;
	}
	
	.bordure{
		border-bottom: 2px solid #fa8100;
	}

	h1{
		font-size: 2em;
		margin: 30px 30px 0px 0px;
	}

	.yellow{
		color: #fa8100;	
	}

	header h2{
		margin-right: 70px;
		margin-top: 0;
	}

	aside{
	    margin: 0;
	    display: flex;
	    flex-direction: column;
	    position: relative;
	    width: 240px;
	    background-color: #fa8100;
	  	padding-top: 20px;
	}

	aside p{
		line-height: 1em;
		color:black;
	}

	h2+p{
		margin-right: 20px;
		margin-left: 20px;
		line-height: 1.5em;
		text-align: justify;
	}

	#photocv{
		text-align:center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#photocv a img{
		border-radius: 100%;
		width: 150px;
		height: 150px;
		object-fit: cover;
		object-position: top;
		border: 3px orange solid;
	}

	aside h2{
	font-size: 1.2em;
	text-align: center;
	color: #fa8100;
	border: 3px black solid;
	background-color: black;
	}

	aside h3{
		line-height: 1em;
		font-size: 1em;
		color:black;
		margin-bottom: 5px;
	}

	h3+p{
		margin-top: 0;
	}

	aside li{
		margin-bottom: 25px;
	}

	#contact-list{
		list-style: none;
		margin-right: 15px;
		margin-left: 15px;
		padding-right: 5px;
		padding-left: 5px;
		padding-top: 1px;
	}

	#hobby{
		position: absolute;
		bottom: 0;
		left:0;
		width: 100%;
	}

	section h2{
		text-align: left;
		font-size: 1.3em;
		text-align: left;
	}

	.tv{
		width: 40px;
		height: 40px;
		border:2px solid black;	
		border-radius: 50%;
	}

	.fa-television{
		padding-top: 5px;
	}

	.sun{
		width: 40px;
		height: 40px;
		border:2px solid black;	
		border-radius: 50%;
	}

	.fa-sun-o{
		padding-top: 5px;
	}

	.bicycle{
		width: 40px;
		height: 40px;
		border:2px solid black;	
		border-radius: 50%;
	}

	.fa-bicycle{
		padding-top: 5px;
	}

	#logo{
		display:flex;
		justify-content: space-between;
		padding-top: 10px;
		margin-left: 6px;
		margin-right: 6px;
		margin-bottom: 10px;	
		text-align: center;
	}

	.fa-book{
		color:#fa8100;
		padding-top: 10px;
		margin-right: 10px;
	}

	.fa-suitcase{
		color:#fa8100;
		padding-top: 10px;
		margin-right: 10px;
	}

	.fa-address-book-o{
		color:#fa8100;
		padding-top: 10px;
		margin-right: 10px;
	}

	.fa-dot-circle-o{
		display:flex;
		color:#fa8100;
		margin-top: 18px;
		margin-right: 17px;
		width:5px;
	}

	.formation{
		display: flex;
		width:80%;
		box-shadow: 0px 2px #fa8100;
	}
	
	#container{
		padding:20px 20px 20px 50px;
		width: calc(100% - 320px);
	}

	#formation-list{
		width:80%;
		padding-left: 0px;
		padding-bottom: 50px;
		margin-top:15px;
		margin-right: 0px;
	}

	#formation-list li{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.sec-droite{
		width:50%;
		padding-bottom: 5px;
		padding-top: 10px;	
		margin-bottom: 10px;
		text-align: justify;
	}

	.sec-gauche{
		display: flex;
		flex-direction: row;
		width:50%;	
	}

	.sec-gauche1{
		display: flex;
		flex-direction: row;
		width:48%;
	}

	.exp-professionnelles{
		display: flex;
		width: 80%;
		box-shadow: 0px 2px #fa8100;
	}

	#exp-professionnelles-list{
		width:80%;
		padding-left: 0px;
		margin-top:15px;
		padding-bottom: 50px;
	}

	#exp-professionnelles-list sec-droite{
		margin-left: 50px;
		padding-left: 50px;
	}

	#exp-professionnelles-list li{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	.sec-gauche1{
		display:list-item;
		list-style: disc;
		font-size: 20px;
		color:#fa8100;
		margin-left: 22px;
	  }

	.sec-gauche1 p{
		color:black;
		font-size: 14px;
		margin-top: 10px;
	}

	.sec-gauche p{
		font-size: 14px;
	}

	.recommandations{
		display:flex;
		width: 80%;
		box-shadow: 0px 2px #fa8100;
	}
	
	#recommandations-list li{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style: none;
	}

	#recommandations-list{
		list-style: none;
		margin-top:40px;
		padding-right: 300px;
		padding-left: 0;
	}

	.recommandations1{
		padding-right: 300px;
		margin-right: 50px;
	}

	h4{
		margin:0;
		padding-top: 5px;
		font-weight: bold;
	}




	@media all and (max-width: 1024px){
    
	body{
		width:auto;
	}

    aside {   
        width:1000px;
        height:1000px;
        margin: 1410px 0px 0px 0px;
        text-align:center;   
    }

    #container{
    	 width:auto;
    	 margin: 30px 0px 0px 70px;
    	 border:none;
    	 padding:0;
    	 overflow:hidden;
    }

    header{
    	margin-left: 10px;
    	margin-top: 20px;
    	width: 100%;
    }
    
    #photocv{
    	margin-bottom: 20px;
    	margin-left: 5px;
    }
    
    aside h2{
    	height: 30px;
    	width: 100%;
    	margin-top: 0px;
    	margin-bottom: 0px;
    	padding-top: 2px;
    }

    #logo{
    	display:flex;
    	flex-direction: row;
    	margin-top: 0px;
    	margin-right: 60px;
    	padding-bottom: 20px;
    	padding-right: 50px;
    	padding-left: 50px;
    	padding-top: 20px;
    	height: 50%;
    }

    h2+p{
    	padding-bottom: 20px;
    	padding-top: 20px;
    	padding-right: 10px;
    	padding-left: 10px;
    	width:90%;
    }

    aside h3{
		line-height: 0.2em;
		color:black;
	}

	


	
	