

	p{
		color: black;
	}

	body{
		font-family: "comic sans ms";
		display: flex;
		height: auto;
		margin: 0px;
		margin-right: 0px;
	}

	header{
		display: flex;
		display:inline-block;
		position: absolute;
		width: 70%;
		min-width: 800px;
		height: 150px;
		text-align: center;
		margin-left: 180px;	
	}

	h1{
		font-size: 2.5em;
		margin:30px;
		color: orange;
	}

	header h2{
		font-size: 1.2em;

	}

	aside {
	    margin: 0px 0px 0px 0px;
	    display: flex;
	    flex-direction: column;
	    position: absolute;
	    width: 180px;
	    height: 200%;
	    background-color: orange;
	    font-size: 0.8em;
	    text-align: justify;
	}

	#photocv{
		text-align:center;
		margin-top: 4px;
	}

	#photocv a img{
		border-radius: 100%;
		width: 150px;
		height: 150px;
		object-fit: cover;
		object-position: top;
	}


	aside h2{
	font-size: 1.3em;
	text-align: center;
	color: white;
	border: 3px black solid;
	background-color: black;

	}

	aside h3,p
	{
		line-height: 1em;
		margin-left: 8px;
		margin-right: 8px;
	}

	#container{
		display: flex;
		align-content: flex-start;
		padding:200px 500px 50px 40px;
		margin:10px 500px 0px 200px;
		border: 1px solid orange;
		height: 1000px;
		width: 40%;
		flex-direction: column;
	}
	
	section h2{
	font-size: 1em;
	box-shadow: 0px 2px orange;
	text-align: center;
}

	li{
	line-height: 150px;
}

	.secgauche,.secdroite{
		display: flex;
		border:1px solid black;
	}

	.secdroite{
		margin-left: 250px;	
		width: 50%;
		flex-direction: row;
	}

	.secgauche{
		width: 25%;
		margin-left: 10px;
		flex-direction: row;
	}

	.fa-swimmer{
		color:black;
		font-size: 40px;
		position: absolute;
	}

@font-face {
  font-family: 'FontAwesome';
  src: url('https://use.fontawesome.com/releases/v5.0.6/css/all.css'); 
}


	i
{
 background-color: white;
 border-radius: 50%;
 border: 1x solid grey;
 padding:5px;
}